<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <span class="navbar-text">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home</a>
              <a class="nav-link" href="#">Home Info</a>
              <a class="nav-link" href="#">Feed</a>
            </li>
          </ul>   
        </span>
      </nav>
    <div class="container">
    </div>




    <!-- <h1>HomeRank</h1>

    <form method="POST" action="/login">
      <label>username</label>
      <input type="text" placeholder="Enter username" name="username">
      <label>password</label>
      <input type="password" placeholder="Enter password" name="password">
      <button type="submit">Login</button>
    </form>

    <form method="POST" action="/signup">
      <label>name</label>
      <input type="text" placeholder="Name" name="name">
      <label>username</label>
      <input type="text" placeholder="Username" name="username">
      <label>password</label>
      <input type="password" placeholder="Password" name="password">
      <label>email</label>
      <input type="text" placeholder="Email" name="email">
      <label>Address</label>
      <input type="text" placeholder="Address" name="address">
      <label>Zipcode</label>
      <input type="text" placeholder="Zipcode" name="zipcode">
      <label>Phone Number</label>
      <input type="text" placeholder="Phone Number" name="phonenumber">
      <label>Political Party Affiliation</label>
      <input type="text" placeholder="Party" name="party">
      <button type="submit">Sign Up</button>
    </form> -->

  </body>
</html>