<html>

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <link rel="stylesheet" href="{{url_for('static', filename='profile.css')}}">
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between">
    <a class="navbar-brand" href="{{url_for('index')}}">HomeRank</a>
    <ul class="nav justify-content-end">
      <li class="nav-item active">
        <a class="nav-link" href="{{url_for('profile')}}">Profile</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{{url_for('houseinfo')}}">Home Info</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{{url_for('feed')}}">Feed</a>
      </li>
      <li>
        <a class="nav-link" href="{{url_for('logout')}}">Logout</a>
      </li>
    </ul>
  </nav>
  <div class="container">
    <h2 style="text-align: center; padding-top: 10px;">Profile</h2>
    <div class="row">
      <div class="col-md">
        <div class="card border-secondary" style="margin-left: 25px;">
          <div class="card-body">
            <h4 class="card-title" style="text-align: center;">Your Info </h4>
            <p class="card-text text-center"> {{user.name}}</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <b> username: </b> {{user.username}} </li>
            <li class="list-group-item">
              <b> email: </b> {{user.email}} </li>
            <li class="list-group-item">
              <b> Address: </b> {{user.address}} </li>
            <li class="list-group-item">
              <b> Party Affiliation: </b> {{user.party_affiliation}} </li>
          </ul>
        </div>
      </div>
    </div>
    <h2 style="text-align:center;padding-top:10px;">Your Reps info</h2>
    {% for rep in reps %}
      <div class="row">
        <div class="col-md">
          <div class="card border-secondary" style="margin-left: 25px;">
            <div class="card-body">
              <h4 class="card-title" style="text-align: center;">{{rep.name}}</h4>
              <p class="card-text text-center"> {{rep.name}}</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <b> username: </b> {{rep.username}} </li>
              <li class="list-group-item">
                <b> email: </b> {{rep.email}} </li>
              <li class="list-group-item">
                <b> Address: </b> {{rep.address}} </li>
              <li class="list-group-item">
                <b> Party Affiliation: </b> {{rep.party_affiliation}} </li>
              <li class="list-group-item">
                <b> Party Affiliation: </b> {{rep.phone_number}} </li>
            </ul>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

</body>

</html>